@import url('styles-blessed1.css?z=1425919025106');


.form-signin .form-control:focus {
  z-index: 2; }

.login label {
  color: #fff; }

.form-control:focus {
  color: #2c3e50; }

.form-signin input {
  margin-top: 15px;
  background: #C4D6FF;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: #2c3e50; }

/* Intro content, profile image and name, back button */
.intro {
  height: 100%;
  min-height: 100%;
  z-index: 20;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 35px; }

#intro_beta {
  background: #B8EFC0; }

#intro_career {
  background: #8AAEFF; }

#intro_partner {
  background: #FFCA8A; }

#faq-beta {
  background: #B8EFC0;
  opacity: 1; }

#faq-careers {
  background: #8AAEFF;
  opacity: 1; }

#faq-partner {
  background: #FFCA8A;
  opacity: 1; }

.profile {
  margin: 0 auto;
  width: 140px; }
  .profile img {
    margin-top: 40%;
    max-width: 100%; }

.profile-fr {
  margin: 0 auto;
  width: 140px; }
  .profile-fr img {
    margin-top: 2rem;
    max-width: 100%; }

.intro-content {
  padding: 10% 0 0; }
  .intro-content h2 {
    display: block;
    font-size: 30pt;
    font-weight: 100; }

.intro-text {
  background-color: transparent; }

.faq-text-fr {
  margin: 40px;
  margin-top: 60px;
  padding: 40px 30px; }
  .faq-text-fr h1 {
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 30px;
    color: #2c3e50; }
  .faq-text-fr h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12pt;
    margin-top: 0;
    color: #2c3e50;
    margin-bottom: 2px;
    line-height: 1.2; }
  .faq-text-fr hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px; }
  .faq-text-fr p {
    font-size: 18px;
    line-height: 1.4;
    color: #2c3e50; }
  .faq-text-fr section {
    margin: 10px 0 40px 0;
    padding: 0 60px 0 10px; }

.faq-text {
  margin: 40px;
  margin-top: 60px;
  padding: 40px 30px; }
  .faq-text h1 {
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 30px;
    color: #2c3e50; }
  .faq-text h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12pt;
    margin-top: 0;
    color: #2c3e50;
    margin-bottom: 2px;
    line-height: 1.2; }
  .faq-text hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px; }
  .faq-text p {
    font-size: 18px;
    line-height: 1.4;
    color: #2c3e50; }
  .faq-text section {
    margin: 10px 60px 40px 0;
    padding: 0 20px 0 10px; }

/* Large desktop */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0; }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; }

  .featurette-heading {
    font-size: 50px; }

  .overlay-inner {
    margin-left: auto;
    margin-right: auto; }

  /* Make Navigation Toggle on Desktop Hover */
  button.signup-faq, button.form-submit, button.signup-now {
    border: none;
    background: none;
    padding: 10px 20px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    white-space: nowrap; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .form-q {
    font-size: 20px; }

  .fp-slidesContainer {
    margin-left: 20px;
    padding-left: 30px; }

  .intro-text {
    background-color: transparent;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
        transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  .intro {
    height: 33%;
    min-height: 33%;
    z-index: 20;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px; } }